<div class="calendar-container">
  <%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
    <%= date %>
    <% meetings.each do |meeting| %>
      <div class="meeting">
        <% book = Book.find(meeting.book_id)%>
        <p><%= book.title %></p>
      </div>
    <% end %>
  <% end %>
</div>
