.analytics-container {
  text-align: center;
  border: 1px solid white;
  border-radius: 24px;
  background: white;
  margin: 1rem;
  padding: 12px;
  align-items: center;

}

.chart-container {
  margin-top: 12px;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 12px;
}
