.book-cards {
  margin-top: 16px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;

}

.book-card {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 32px;
  padding-left: 32px;
  border: 1px solid white;
  border-radius: 24px;
  background: white;

  a {
    text-decoration: none;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .book-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .book-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .book-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .book-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .book-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
