// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(books.jpg);
}

// style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/images/books.png);"

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.content {
  margin-top: 24px;
  margin-bottom: 24px;
}

.content-about {
  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    font-style: italic;
  }

  border:1px solid white;
  border-radius: 24px;
  padding: 1rem;
  margin:1rem;
  background: white;

}

.contents {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;

}

.content-feature {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  border: 1px solid white;
  background: white;
  border-radius: 24px;
  padding: 16px;

  img {
    width: 40vw;
    height: 38vh;
    box-shadow: 3px 3px 3px gray;
  }
}

.img-box {
  padding: 6px;
  text-align: center;
  margin: auto;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .contents {
    grid-template-columns: 1fr;
  }

  .content-feature {
    img {
      width: 70vw;
      height: auto;
      box-shadow: 3px 3px 3px gray;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .contents {
    grid-template-columns: 1fr;
  }

  .content-feature {
    img {
      width: 70vw;
      height: auto;
      box-shadow: 3px 3px 3px gray;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .contents {
    grid-template-columns: 1fr 1fr;
  }

  .content-feature {
    img {
      width: 40vw;
      height: 38vh;
      box-shadow: 3px 3px 3px gray;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .contents {
    grid-template-columns: 1fr 1fr;
  }

  .content-feature {
    img {
      width: 40vw;
      height: 40vh;
      box-shadow: 3px 3px 3px gray;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .contents {
    grid-template-columns: 1fr 1fr;
  }
}
