.container-show {
  margin: auto;
  padding: 2rem;
}

.show-card {
  margin-right: 3rem;
  margin-left: 3rem;
  margin-top: 1rem;
  padding: 12px;
  border: 1 solid white;
  background: white;
  border-radius: 23px;
}
