<div class="banner" >
  <div class="container">
    <h1>Read List helps all bookworms!</h1>
    <p>Record your precious reading history.</p>
    <%= link_to "Get Started", list_path, class:"btn btn-primary" %>
  </div>
</div>
<div class="container-s">
  <h1 class="text-center">Features</h1>
  <div class="contents">
    <div class="content-feature">
      <h2>- List</h2>
      <h3>Manage your reading progress</h3>
      <div class="img-box">
        <%= image_tag "progress.png"%>
      </div>
    </div>
    <div class="content-feature">
      <h2>- Books</h2>
      <h3>Your book list with your reviews</h3>
    </div>
    <div class="content-feature">
      <h2>- Calendar</h2>
      <h3>Check your reading schedules</h3>
      <div class="img-box">
        <%= image_tag "calendar.png"%>
      </div>
    </div>
    <div class="content-feature">
      <h2>- Analytics</h2>
      <h3>Check your reading history</h3>
      <div class="img-box">
        <%= image_tag "analytics.png"%>
      </div>
    </div>
  </div>
</div>
