.simple-calendar {
  table {
    min-height: 80vh;
  }

  .today {
    background-color: #FAF3DD;
  }
}

.meeting {
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;

  p {
    margin: 0;
  }
}

.meeting-completed {
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
  background: #18b06c;
  transition: background 0.3s ease;

  p {
    margin: 0;
  }
}



.meeting:hover {
  background: #1BCB7F;
  color: white;
}

.calendar-heading {
  font-size: 36px;

  a {
    text-decoration: none;
  }

}
